<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id = "menu_job"
        name = "Job"
        web_icon = "job,static/description/icon.png"
        sequence = "0" />
    <menuitem
        id = "menu_generate_job_root"
        name = "Job"
        parent = "menu_job"
        sequence = "0" />

    <menuitem
        id = "menu_configaure_root"
        name = "Configaure"
        parent = "menu_job"
        sequence = "20" />

</odoo>